.circulo{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}
.circulo .interior, .circulo .exterior{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
    box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
}
.circulo .interior{
    background-color: rgb(184, 163, 125);
}
.circulo .exterior{
    background-color: rgb(230, 161, 43);
}
.circulo .interior img, .circulo .exterior img{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
    box-shadow: 0px 0px 15px 0px rgba(32, 34, 37,0.75);
}