/* TAMAÑO */
.ancho{
    /* Se puede cambiar */
    /* MANTENER RELACION ASPECTO 1 X 0.5 */
    width: 300px;
    height: 150px;
}
.alto{
    /* Se puede cambiar */
    /* MANTENER RELACION ASPECTO 0.5 x 1 */
    width: 150px;
    height: 300px;
}
.cuadrado{
    /* Se puede cambiar */
    /* MANTENER RELACION ASPECTO 1 x 1 */
    width: 300px;
    height: 300px;
}
/* DECORACIÓN */
.carrucelControles {
    /* Se puede cambiar */
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
@media screen and (min-width: 768px){
    /* TAMAÑO */
    .ancho{
        /* Se puede cambiar */
        /* MANTENER RELACION ASPECTO 1 X 0.5 */
        width: 500px;
        height: 250px;
    }
    .alto{
        /* Se puede cambiar */
        /* MANTENER RELACION ASPECTO 0.5 X 1 */
        width: 250px;
        height: 500px;
    }
    .cuadrado{
        /* Se puede cambiar */
        /* MANTENER RELACION ASPECTO 1 x 1 */
        width: 500px;
        height: 500px;
    }
}

/* NO CAMBIAR ESTA PARTE */
.carrucelControles{
    /* no cambiar */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.ancho .imgEnCarrucel{
    /* No cambiar */
    width: 100%;
}
.alto .imgEnCarrucel{
    /* No cambiar */
    height: 100%;
}
.cuadrado .imgEnCarrucel{
    /* No cambiar */
    height: 100%;
    width: 100%;
}

/* BOTONES */
.carrucelControles .leftButton, .carrucelControles .rightButton{
    /* Se puede cambiar */
    width: 50px;
    background-color: transparent;
    border: none;
}
.carrucelControles .leftButton, .carrucelControles .rightButton{
    /* No cambiar */
    height: 100%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}
.carrucelControles .leftButton{
    /* No cambiar */
    left: 0;
}
.carrucelControles .rightButton{
    /* No cambiar */
    right: 0;
}
.carrucelControles .leftButton img, .carrucelControles .rightButton img{
    /* No cambiar */
    width: 100%;
}
